<section class="paginate">
  <button class="paginate--button" (click)="pokeService.prevPage()">
    <img
      class="paginate--button__image"
      src="https://cdn.icon-icons.com/icons2/1339/PNG/512/arrowpointingleft_87473.png"
      alt="prev page"
    />
  </button>
  <button class="paginate--button" (click)="pokeService.nextPage()">
    <img
      class="paginate--button__image"
      src="https://cdn.icon-icons.com/icons2/2024/PNG/512/skip_track_arrow_right_icon_123815.png"
      alt="next page"
    />
  </button>
</section>
